<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ReportHeaderFooter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="HeaderImageFilePath" value="" />
		<add key="FooterImageFilePath" value="" />
		<add key="DefaultReadyFolder" value="100" />
	</appSettings>
	<userSettings>
		<ReportHeaderFooter.Properties.Settings>
			<setting name="HeaderImageFilePath" serializeAs="String">
				<value />
			</setting>
			<setting name="FooterImageFilePath" serializeAs="String">
				<value />
			</setting>
			<setting name="DefaultReadyFolder" serializeAs="String">
				<value />
			</setting>
		</ReportHeaderFooter.Properties.Settings>
	</userSettings>
</configuration>